vti_encoding:SR|utf8-nl
vti_author:SR|TUSHAR-LAP\\Tushar
vti_modifiedby:SR|TUSHAR-LAPTOP\\Tushar
vti_timelastmodified:TR|09 Feb 2011 09:01:06 -0000
vti_timecreated:TR|18 Jan 2011 02:15:15 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|alumni/alumni_registration.htm members/members_page_2.htm members/members.htm administrationr/administration.htm history/history.htm master.dwt calendar/calendar.htm alumni/alumni_submitted.htm academics/academics.htm alumni/alumni.htm contact_us/contact_us.htm photo_gallery/photo_gallery.htm default.htm news/news_and_events.htm
vti_nexttolasttimemodified:TW|09 Feb 2011 09:00:44 -0000
vti_cacheddtm:TX|09 Feb 2011 09:01:06 -0000
vti_filesize:IR|3111
vti_cachedlinkinfo:VX|Q|layout.css S|../images/background.gif S|../images/master_head.gif S|../images/nb.gif S|../images/logo.gif S|../images/nav.gif S|../images/member_tab.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/background.gif FSUS|images/master_head.gif FSUS|images/nb.gif FSUS|images/logo.gif FSUS|images/nav.gif FSUS|images/member_tab.gif
