#slide-images{
	position:relative;
	display:block;
	margin:0 auto;
	padding:0px;
	width:912px;
	height:612px;
	overflow:hidden;
}

#slide-images li{
	position:absolute;
	display:block;
	list-style-type:none;
	margin:0px;
	padding:0px;
	background-color:#FFFFFF;
}

#slide-images li img{
	display:block;
	background-color:#FFFFFF;
}